*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.image{
    height: 100vh;
    width: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 580px;
}
.image img{
    background-color: brown;
    height: 300px;
    width: 300px;
    border-radius: 150px;
    border: 10px solid blanchedalmond;
}